body {
    font-family: 'Roboto', sans-serif;
    background-color: #d5cbf4;
    margin: 0;
    padding: 0;
    color: #190a6b;
}

.navbar {
    background-color: #190a6b;
    overflow: hidden;
    text-align: center; /*center items in navbar */
}

.nav-item {
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    color: #cdd0e1;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.nav-item:hover {
    background-color: #5e5596;
}

.nav-item.active {
    background-color: #5e5596;
}

h1 {
    text-align: center;
    color: #190a6b;
}

h2 {
    text-align: center;
    color: #3720b5;
    margin: 10px; 
}

h3 {
    text-align: center;
    color: #342874;
    margin: 10px;
}

p1 {
    color: #5081b2;
    font-weight: bold;
    margin: 10px;
    font-size: 18px;
}

pre {
    background-color: #c5d0eb;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin: 10px 0;
    transition: box-shadow 0.3s;
}

pre:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

code.language-cpp {
    color: #042a4f; /*cpp code color */
    font-family: 'Courier New', monospace; /*monospace font for code */
}

code.language-py {
    color: #042a4f; /*py code color */
    font-family: 'Courier New', monospace; /*monospace font for code */
}

a {
    color: #0d549a; /*link color */
}

a:hover {
    color: #252ab1; /*link color on hover */
}

:root {
    --glow-rgb: 64 181 173;
  }
  
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .glow-point {
    position: absolute;
    box-shadow: 0rem 0rem 1.2rem 0.6rem rgb(var(--glow-rgb));
    pointer-events: none;
  }