body {
    font-family: 'Roboto', sans-serif;
    background-color: #d5cbf4;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #190a6b;
    overflow: hidden;
    text-align: center; /*center items in navbar */
}

.nav-item {
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    color: #cdd0e1;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.nav-item:hover {
    background-color: #5e5596;
}

.nav-item.active {
    background-color: #5e5596;
}

h1{
    font-family: 'Space Mono', monospace;
    color: #3c22cf;
    text-align: center;
}

h1:hover {
    color: #7c66bd;
} 

h2{
    color: #2e0ee1;
    text-align: center;
}

h3{
    color: #100550;
    text-align: center;
    padding: 5px;
}

.easycontainer {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #9ac9e8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.mediumcontainer {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #359bdf;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.hardcontainer {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #085a90;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card {
    background-color: #c5d0eb;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin: 10px 0;
    transition: box-shadow 0.3s;
}

.card:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.card a {
    text-decoration: none;
    color: #0d549a;
}

.card a:hover {
    color: #5081b2;
}

a:hover {
    color: #252ab1; /* Link color on hover */
}